html {
	background: #555;
}

body {
	max-width: 1010px;
	width: 100%;
	max-height: 100%;
	margin: 0 auto;
	font-family: "Segoe UI", "Microsoft Sans Serif", "Open Sans", Arial, sans-serif;
	line-height: 1;
	box-shadow: 0 0 15px rgba(0,0,0,0.7);
	position: relative;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1,h2,h3 {
	font-weight: normal;
	margin: 0;
	line-height: 1.2;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
								  not supported by any browser */
	cursor: default;
}
::selection {/* background: transparent; */}
::-moz-selection {/* background: transparent; */}

.notification {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 500;
}

#statusbar {
	width:100%;
	height: 150px;
	background: linear-gradient(#686868, #161616);
	display: table;
}

#statusbar > div {
	display: table-cell;
}
#statusbar .controls {
	max-width: 20%;
	width: 80px;
}
#statusbar button {
	display: inline-block;
	width: 100%;
	padding: 2em;
	border: 1px solid black;
	color: #FFFFFF;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
	background: linear-gradient(#686868, #161616);
	position: relative;
	line-height: 1;
}

@media screen and (max-width:425px) {
	#statusbar button {
		/* padding: 1em; */
	}
}
#statusbar button:hover,
#statusbar button:focus {
	background: linear-gradient(#7D7D7D, #040404);
}
#statusbar button span {
	font-size: 0;
	overflow: hidden;
}
#statusbar button#play::before {
	content: "\25B6";
	font-size: 1.5em;
}

#statusbar button#stop::before {
	content: "\25FC";
	font-size: 1.5em;
}


#statusbar .nowPlaying{
	width: 70%;
	padding: 0 2em;
	vertical-align: middle;
	font-size: 1.5em;
}
#statusbar .artist{
	color: #ADFF2F;
	font-size: medium;
	vertical-align: text-top;
	font-size: 0.8em;
}
#statusbar .title{
	color: #ADFF2F;
	font-size: 1.5em;
}
#statusbar .npTimes{
	font-size: 2em;
	padding: 0 2em;
	width: 35%;
	text-align: center;
	color: #ADFF2F;
	vertical-align: middle;
}

@media screen and (max-width:580px) {
	#statusbar .nowPlaying,
	#statusbar .npTimes {
		display: block;
		padding: 0.5em 1em;
		text-align: left;
		width: auto;
		font-size: 2em;
	}
	#statusbar .title {
		font-size: inherit;
	}
}
@media screen and (max-width:425px) {
	#statusbar .nowPlaying,
	#statusbar .npTimes {
		font-size: 1.5em;
	}
}

#optionsRow{
	width: 100%;
	height: 80px;
	background: linear-gradient(#686868, #161616);
	display: table;
}
#optionsRow button {
	display: table-cell;
	width: 33.333%;
	padding: 2em 0;
	border: 1px solid black;
	color: #FFFFFF;
	text-align: center;
	font-size: large;
	background: linear-gradient(#565E65, #353F46);
	cursor: pointer;
}
@media screen and (max-width:425px) {
	#optionsRow button {
		width: 100%;
		font-size: 1em;
	}
}
#optionsRow .activated{
	background: linear-gradient(#218A21, #016501);
}
#optionsRow .activated:hover,
#optionsRow .activated:focus{
	background: linear-gradient(#046701, #91C72F);
}
#optionsRow .deactivated:hover,
#optionsRow .deactivated:focus{
	background: linear-gradient(#FC7D00, #C44400);
}
#optionsRow .deactivated{
	background: linear-gradient(#820303, #CA5858);
}
#optionsRow .normal:hover,
#optionsRow .normal:focus{
	background: linear-gradient(#586067, #626A73);
}

.playlist-container {
	width: 100%;
	max-height: 70%;
	overflow-y: auto;
	position: relative;
	cursor: default;
}

#playlistRows{
	width:100%;
	border-spacing: 0;
	border-collapse: separate;
}

#playlistRows td {
	border: 0 none;
	padding: 0;
	border-bottom: 1;
}

#playlistRows .item{
	width:100%;
	background: linear-gradient(#68686800, #161616);
}
#playlistRows .item td {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
}
#playlistRows .controls {
	position: relative;
	width: auto;
	max-width: 80px;
}
#playlistRows .playbutton {
	width: 80px;
	height: 80px;
	border: 1px solid black;
	color:#FFFFFF;
	font-size: 2em;
	background: linear-gradient(#97C932, #59712F);
	cursor:pointer;
	position: relative;
	padding: 0;
	border-collapse: separate;
	margin-top: -1px;
}
.playbutton::before {
	content: "";
	display:block;
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
	margin: 0;
	position: absolute;
	background: url('images/play-icon.svg') no-repeat 50%;
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNDhweCIgaGVpZ2h0PSI0OHB4IiB2aWV3Qm94PSItNjE1IDM3NyA0OCA0OCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtNjE1IDM3NyA0OCA0OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTS01OTksMzg3djI4bDIyLTE0TC01OTksMzg3eiIvPjwvc3ZnPg==") no-repeat 50% 50%;
	background-size: cover;
	background-position: 0 -35px;
	opacity: 0;
	transition: all 0.2s ease-out;
}
.playbutton:hover::before,
.playbutton:focus::before {
	background-position: 50%;
	opacity: 1;
}

#playlistRows .playbutton:hover,
#playlistRows .playbutton:focus {
	background: linear-gradient(#6A8C24, #42433F);
}
#playlistRows .clearbutton{
	width: 2em;
	height: 2em;
	border: 1px solid black;
	color: #fff;
	text-align: center;
	font-size: 1em;
	background: linear-gradient(#820303, #CA5858);
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}
#playlistRows .clearbutton:hover,
#playlistRows .clearbutton:focus {
	background: linear-gradient(#FC7D00, #C44400);
}
#playlistRows .plTData {
	padding: 0 1em;
	width: 100%;
}
#playlistRows .plArtist{
	color:#FFF;
	font-size: 1em;
	vertical-align:text-top
}
#playlistRows .plTitle{
	color:#FFF;
	font-size: 1.5em;
}
@media screen and (max-width:425px) {
	#playlistRows .plTData {
		font-size: 0.8em;
	}
}

/* Track type colours */
#playlistRows .tracktype-music {
	background: #616161;
}
#playlistRows .tracktype-jingle {
	background: #7DCC2F;
}
#playlistRows .tracktype-sweeper {
	background: #800000;
}
#playlistRows .tracktype-voiceover {
	background: #382423;
}
#playlistRows .tracktype-commercial {
	background: #400080;
}
#playlistRows .tracktype-internetstream {
	background: #FF8040;
}
#playlistRows .tracktype-other {
	background: #8080FF;
}
#playlistRows .tracktype-vdf {
	background: #768A02;
}
#playlistRows .tracktype-podcast {
	background: #47314F;
}
#playlistRows .tracktype-request {
	background: #FF0000;
}
#playlistRows .tracktype-news {
	background: #616161;
}
#playlistRows .tracktype-playlistevent {
	background: #FF80FF;
}
#playlistRows .tracktype-filebydate {
	background: #616161;
}
#playlistRows .tracktype-newestfromfolder {
	background: #FF00FF;
}
#playlistRows .tracktype-teaser {
	background: #6832CD;
}

.log {
	padding: 1em;
	overflow: hidden;
}
.notice {
	background: #fff;
	padding: 1em 1em;
	border-left: 3px solid;
	margin: 0 0 0.5em;
}
.error {
	color: red;
}
.overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background: #333;
	z-index: 9999;
}
